/* Estilos para el contenedor principal */
.container {
  text-align: center;
  padding: 20px;
}

/* Estilos para el título del catálogo de libros */
h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilos para la cuadrícula de libros */
.book-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

/* Estilos para las tarjetas de libros */
.book-card {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los títulos de libros */
.book-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para la descripción de libros */
.book-description {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilos para el autor de libros */
.book-author {
  font-size: 14px;
  margin-bottom: 10px;
}

/* Estilos para la categoría de libros */
.book-category {
  font-size: 14px;
}

/* Menu.css */

nav {
  background-color: #333; /* Fondo del menú */
  color: #fff; /* Color del texto */
  padding: 10px; /* Espaciado interior */
}

nav a {
  color: #fff; /* Color de los enlaces */
  text-decoration: none; /* Elimina la subrayado de los enlaces */
  margin-right: 20px; /* Espaciado entre los enlaces */
}

nav a:hover {
  text-decoration: underline; /* Subrayado al pasar el cursor sobre los enlaces */
}
